<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.action.outdooractivityapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission  android:name = "android.permission.RECORD_AUDIO" />
    <uses-permission  android:name = "android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AdminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.RoomMicrophoneActivity"></activity>
        <activity
            android:name=".activity.RoomChatActivity"
            android:parentActivityName=".activity.TogetherActivity" />
        <activity android:name=".activity.RoomCreateActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.MyPageActivity" />
        <activity android:name=".activity.ModifyProfileActivity" />
        <activity android:name=".activity.TogetherActivity" />

        <activity android:name=".MainActivity2" />
        <activity android:name=".MakeCallActivity" />
        <activity android:name=".ReceiveCallActivity" />

        <service
            android:name=".service.SocketService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.ForcedTerminationService"
            android:stopWithTask="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.action.outdooractivityapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".popup.TakingImageProfilePopup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>